
@{
    ViewBag.Title = "UrunEkle";
}

<h2>UrunEkle</h2>

@using (Html.BeginForm())
{
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Ürün İd</label>
        <input type="text" class="form-control" id="urun_id" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Ürün adı</label>
        <input type="text" class="form-control" id="urun_adi" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Açıklama</label>
        <input type="text" class="form-control" id="aciklama">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Fiyat</label>
        <input type="text" class="form-control" id="fiyat">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Satışta mı</label>
        <input type="checkbox" class="form-control" id="satista_mi">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
}


