@model string
@{
    ViewBag.Title = "Create";
}

<h2>Rol Oluştur</h2>
<hr />

@Html.ValidationSummary()

@using (Html.BeginForm())
            {
                <div class="form-group">
                    <label>Rol ismi</label>
                    <input name="name" value="@Model" class="form-control" />
                </div>
                <button type="submit" class="btn btn-primary">Kaydet</button>
            }
